Leia a base de dados sobre vinhos, e responda as
seguintes perguntas:

- 1.Sobre o que se tratam esses dados?
- 2.Qual é o estilo que mais aparece?
- 3.Qual é o preço e a etiqueta do(s) vinho(s) mais caro(s)?
- 4.Qual é o preço e o estilo do(s) vinho(s) mais barato(s)?

In [7]:
import pandas as pd

In [8]:
df_wine = pd.read_csv("https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wines.csv")

# 1. Sobre o que se tratam esses dados?

In [ ]:
df_wine.head()

         date   label  vintage   style   country   price  quantity  rate
0  2021-01-04  Wine K     2002   White  Portugal  144.22         9    97
1  2021-03-11  Wine J     1982     Red  Portugal  244.80         3    76
2  2021-10-02  Wine Y     2018  Orange    France   98.83         2    79
3  2021-06-05  Wine I     1989     Red     Spain   59.64        11    77
4  2021-09-06  Wine N     2006   White     Spain  187.70         6    91

# 2. Qual é o estilo que mais aparece?

In [10]:
df_wine.value_counts("style")

style
White        1710
Rose         1706
Orange       1658
Sweet        1648
Red          1640
Sparkling    1638
Name: count, dtype: int64

# 3. Qual é o preço e a etiqueta do(s) vinho(s) mais caro(s)?
# 4.Qual é o preço e o estilo do(s) vinho(s) mais barato(s)?

In [ ]:
df_wine.sort_values("price", ascending=False)   # Outra forma seria utilizar as funções máximo e  mínimo.

            date   label  vintage      style  country    price  quantity  rate
1249  2021-09-29  Wine Q     2002  Sparkling    Italy  1107.89        13    92
1519  2021-09-25  Wine D     2002        Red   France   974.01        12    97
7278  2021-01-30  Wine R     1993  Sparkling   Brazil   958.63         9    83
8063  2021-09-30  Wine Q     1982  Sparkling    Chile   952.26         3    87
5918  2021-11-04  Wine C     2012        Red    Spain   928.05         2    83
...          ...     ...      ...        ...      ...      ...       ...   ...
7244  2021-05-13  Wine L     2012      White  Uruguay    50.06         6    92
9304  2021-07-28  Wine X     2001      Sweet    Italy    50.02         2    78
2970  2021-06-03  Wine V     2012      Sweet    Spain    50.02         2    79
9256  2021-11-01  Wine W     1995      Sweet   Brazil    50.01        12    94
4910  2021-08-15  Wine Z     2009     Orange   Brazil    50.01         5    90

[10000 rows x 8 columns]

In [ ]:
df_wine["date"] = pd.to_datetime(df_wine["date"])

In [16]:
df_wine["date"]

0      2021-01-04
1      2021-03-11
2      2021-10-02
3      2021-06-05
4      2021-09-06
          ...
9995   2021-08-07
9996   2021-03-03
9997   2021-12-28
9998   2021-06-19
9999   2021-09-18
Name: date, Length: 10000, dtype: datetime64[ns]

In [15]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      10000 non-null  datetime64[ns]
 1   label     10000 non-null  object
 2   vintage   10000 non-null  int64
 3   style     10000 non-null  object
 4   country   10000 non-null  object
 5   price     10000 non-null  float64
 6   quantity  10000 non-null  int64
 7   rate      10000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 625.1+ KB

In [ ]:
df_wine["quantity"] = pd.to_numeric(df_wine["quantity"], downcast="integer")   # Otimizando o uso da memória para o tipo int8

In [ ]:
df_wine["quantity"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: quantity
Non-Null Count  Dtype
--------------  -----
10000 non-null  int8
dtypes: int8(1)
memory usage: 9.9 KB